
@charset "UTF-8";

article, aside, footer, header, main, nav, section{
  display: block;
}

aside{
  width: 350px;
  float: right;
  padding: 20px;
  margin-top: 80px;
}

main{
  float: left;
  width: 640px;
}

body{
  margin: 0;
  padding: 0;
  background: url(Images/BG-Pic.jpg) no-repeat;
  background-size: cover;
  height:inherit;
}
.box{
  width: 400px;
  height: 530px;
  background: rgba(0, 0, 0, 0.4);
  padding: 30px 50px;
  text-align: center;
  margin: auto;
  margin-top: 10%;
  margin-left: 500px;
  color: white;
  font-family: 'Times New Roman',serif;
 float: inherit;
 border-radius:20px;
}

#about{
    width: 800px;
    height: 1120px;
    background: rgba(0, 0, 0, 0.4);
    padding: 2px 2px;
    text-align: center;
    margin: auto;
    margin-top: 1%;
    margin-left: 390px;
    color: white;
    font-family: 'Times New Roman',serif;
   float: inherit;
   border-radius:20px;

  }


.circle-img{
  border-radius: 50%;
  width: 175px;
  height: 175px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 100;
}
.box p{
  text-align: justify;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 5px;
  list-style: normal;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}
.nav{
	width:350px;
	height:auto;
	position:absolute;
	top:15%;
	left:1%;
}
.nav a{
	text-decoration:none;
	font-size:28px;
	font-family:arial;
	font-weight:bold;
	height:90px;
	margin:10px;
	float:left;
	display:inline-block;
	background-color:gray;
	color:white;
	line-height:90px;
	text-align:center;
	transition:300ms;
}
a.active, .nav a:hover{
	background-color:white;
	color:black;
}
.a{
	width:80%
}
.b{
	width:60%
}
.c{
	width:70%
}
.d{
	width:80%
}
.vbox{
	float:right;
	width:300px;
	height:400px;
}
